/* Inserting font */
@font-face {
    font-family: net;
    src: url(./fonts/font.ttf);
}

/* Background color */
body{
    background-color: black;
}

/* background image */
.bg-img{
  position: relative;
  opacity: 40%;
  width: 100%;  
  height: 720px;
  border-bottom: solid #383838 8px;
}

/* Div with text in front of background img */
.txt-bg{
    position: relative;
    bottom: 500px;
}

/* unlimited films, tv programmes and more */
.title-1{
    color: white;
    position: relative;
    font-size: 35px;;
    left: 30%;
    top: 20%;
    font-family: net;
}

/* watch anywhere, cancel any time */
.title-2{
    color: white;
    padding: 0, 0, 0, 0;
    position: relative;
    font-size: 30px;
    left: 39%;
    bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

/* ready to watch? enter email */
.title-3{
    color: white;
    padding: 0, 0, 0, 0;
    position: relative;
    font-size: 30px;
    left: 36%;
    bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

/* sign in button */
.sign-in{
    color: white;
    background-color: #f51707;
    border-color: #f51707;
    width: 5%;
    height: 35px;
    border-radius: 5px;
    position: relative;
    left: 93%;
    bottom: 1050px;
    text-align: center;
    font-size: 17px;

}
.sign-in:hover{
    background-color: #b01206;
    border-color: #b01206;
    cursor: pointer;
}

/* form and get started button DIV */
.txt-btn{
    position: relative;
    left: 25%;
}

/* txt box for email */
#txt-area{
    width: 30%;
    height: 60px;
    position: relative;
    left: 3%;
    font-size: 20px;
    border: solid 1px #8c8c8c;
   
}

/* red button next to txt box for email */
#get-started{
    background-color: #f51707;
    border-color: #f51707;
    width: 12%;
    height: 60px;
    color: white;
    font-size: 30px;
    position: relative;
    right: 2%;
    top: 4px;
   
}
#get-started:hover{
    background-color: #b01206;
    border-color: #b01206;
    cursor: pointer;

}

/* logo */
.logo{
    position: relative;
    width: 10%;
    bottom: 1090px;
    left: 3%;
}

/* placeholder 
::placeholder{
    font-size: 20px;
    transition: 0.3s;
}
::placeholder:hover{
    transform: scale(0.6);
}*/



/* DIV 2 */
#div2{
    position: relative;
    bottom: 450px;
    border-bottom: solid #131313 8px;
    display: grid;
    grid-row: 1;
    grid-column: 2;
    height: 25pc;

}


#div2-pos{
    margin-left: 20pc;
    position: relative;
    top: 40px;
}


#div2-txt1{
    font-family: net;
    font-size: 55px;
    color: white;  
    margin-left: 50px;
}


#div2-txt2{
    color: white; 
    width: 30%;
    font-size: 20px;
    margin-left: 40px;
}


#div2-img{
    position: relative;
    bottom: 75%;
    padding-left: 60%;
}


/* DIV 3 */
#div3{
    position: relative;
    bottom: 450px;
    border-bottom: solid #131313 8px;
    display: grid;
    grid-row: 1;
    grid-column: 2;
    height: 25pc;

}

#div3-pos{
    margin-left: 60%;
    position: relative;
    top: 20px;
    right: 5%;
}
#div3-txt1{
    font-family: net;
    font-size: 50px;
    color: white;  
    margin-left: 50px;
    width: 90%;
}

#div3-txt2{
    color: white; 
    width: 90%;
    font-size: 20px;
    margin-left: 40px;
}

#div3-img{
    position: relative;
    bottom: 80%;
    padding-left: 22%;
}


/* DIV 4 */
#div4{
    position: relative;
    bottom: 450px;
    border-bottom: solid #131313 8px;
    display: grid;
    grid-row: 1;
    grid-column: 2;
    height: 28pc;

}


#div4-pos{
    margin-left: 20pc;
    position: relative;
    top: 40px;
}


#div4-txt1{
    font-family: net;
    font-size: 55px;
    color: white;  
    margin-left: 50px;
}


#div4-txt2{
    color: white; 
    width: 30%;
    font-size: 20px;
    margin-left: 40px;
}


#div4-img{
    position: relative;
    bottom: 75%;
    padding-left: 60%;
}


#div3{
    position: relative;
    bottom: 450px;
    border-bottom: solid #131313 8px;
    display: grid;
    grid-row: 1;
    grid-column: 2;
    height: 25pc;

}


/* DIV 5 */
#div5{
    position: relative;
    bottom: 450px;
    border-bottom: solid #131313 8px;
    display: grid;
    grid-row: 1;
    grid-column: 2;
    height: 25pc;

}

#div5-pos{
    margin-left: 60%;
    position: relative;
    top: 20px;
    right: 5%;
}
#div5-txt1{
    font-family: net;
    font-size: 50px;
    color: white;  
    margin-left: 50px;
    width: 90%;
}

#div5-txt2{
    color: white; 
    width: 90%;
    font-size: 20px;
    margin-left: 40px;
}

#div5-img{
    position: relative;
    bottom: 70%;
    padding-left: 22%;
}